@import-normalize;
@import './recipe-list.css';
@import './recipe.css';
@import './ingredient.css';
@import './recipe-edit.css';

:root{
    --color-background-dark: hsl(0, 0%, 15%);
    --color-background-darker: hsl(0, 0%, 10%);
    --color-light: hsl(0, 0%, 90%);
}

/* #root {
    min-width: 100vw;
} */


html,
body {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: var(--color-background-dark);
    color: var(--color-light);
}

.app {
    position: relative;
    min-width: 100vw;
}

.button {
    padding: 0.5em 1em;
    margin: 0.5em;
    border: none;
    border-radius: 0.3em;
    transition: all 0.3s;
}

.button:hover {
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.438) 0px 3px 6px -2px, rgba(221, 221, 221, 0.3) 0px 2px 4px -3px;
    transform: translateY(-2px);
}